table {
    width: 100%;
    border-spacing: 0;
    font-family: Arial, Helvetica, sans-serif;
}
table thead {
    background-color: #DDD;
    font-weight: bold;
}
table tbody {
    padding-left: 50px;
}
table td {
    text-align: center;
}
.tr1 {
    background-color: #DDD;
}